html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#__next {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: none;
  overflow: auto;
  height: 100%;
  width: 100%;
}